<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Hacker App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
	<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="/showLogIn">Sign In</a></li>
            <li role="presentation" class="/active"><a href="showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
    <div class="container">
        <div>
			<ul>
            	<li role="presentation">Lifestyle ---- Trade Show</li>
				<li role="presentation">Lifestyle ---- Fashion Show</li>
				<li role="presentation">Lifestyle ---- GJX Show</li>
				<li role="presentation">Lifestyle ---- Wedding</li>
				<li role="presentation">Technical ---- GitHub</li>
				<li role="presentation">Technical ---- MongoDB</li>
				<li role="presentation">Technical ---- R workshop</li>
				<li role="presentation">Technical ---- Go language</li>
				<li role="presentation">Technical ---- MATLAB</li>
             </ul>
        </div>

        <footer class="footer">
            <p>&copy; Company 2017</p>
        </footer>
 
    </div>
</body>
 
</html>