<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Hacker App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
	<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="/showLogIn">Sign In</a></li>
            <li role="presentation" class="/active"><a href="showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
    <div class="container">
        <div>
			<h3 class="text-muted">Upcoming Events</h3>
			<ul>
            	<li role="presentation">Lifestyle ---- Trade Show: 02/07/17</li>
				<li role="presentation">Lifestyle ---- Fashion Show: 02/09/17</li>
				<li role="presentation">Lifestyle ---- GJX Show: 03/11/17</li>
				<li role="presentation">Lifestyle ---- Wedding: 04/14/17</li>
				<li role="presentation">Technical ---- GitHub: 04/15/17</li>
				<li role="presentation">Technical ---- MongoDB: 05/07/17</li>
				<li role="presentation">Technical ---- R workshop: 06/08/17</li>
				<li role="presentation">Technical ---- Go language: 07/11/17</li>
				<li role="presentation">Technical ---- MATLAB: 09/12/17</li>
             </ul>
        </div>

        <footer class="footer">
            <p>&copy; Company 2017</p>
        </footer>
 
    </div>
</body>
 
</html>